.button-icon {
  background-color: #FFF;
  padding: 3px 10px 3px 3px;
  border-radius: 52px;
  text-decoration: none;
  display: inline-block;

  &__icon {
    height: 23.69px;
    width: 23.69px;
    display: inline-block;

    img {
      height: 100%;
      transform: translateY(-1px);
    }
  }

  &__text {
    font-size: $text-12;
    font-weight: 800;
    color: $darker-gray;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: $breakpoint--large) {
  .button-icon {
    /*background-color: $darker-gray;*/
    padding: 8px 24px 8px 8px;

    &__icon {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }

    &__text {
      /*color: #FFF;*/
      font-size: $text-18;
    }
  }
}
