.button-icon {
  background-color: #FFF;
  padding: 3px 10px 3px 3px;
  border-radius: 52px;
  text-decoration: none;
  display: inline-block;

  &__icon {
    height: 23.69px;
    width: 23.69px;
    display: inline-block;

    @include large {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }

    img {
      height: 100%;
      transform: translateY(-1px);
    }
  }

  &__text {
    font-size: $text-12;
    font-weight: 800;
    color: $darker-gray;
    letter-spacing: 0.02em;

    @include large {
      font-size: $text-18;
    }
  }
}
