.button {
  border: 0;
  color: $base-black;
  padding: 8px 30px;
  font-size: $text-20;
  font-weight: 600;
  cursor: pointer;
  border-radius: 12px;
  user-select: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow .15s ease;
  text-decoration: none;
  text-align: center;
  display: inline-block;

  &:focus,
  &:active {
    outline: none;
  }

  @include small {
    width: 100%;
  }

  &--round {
    border-radius: $basic-border-radius;
  }

  &--green {
    @include button($base-green);
  }

  &--dark-green {
    @include button($dark-green, #FFF);
  }

  &--blue {
    @include button($base-blue, #FFF);
  }

  &--red {
    @include button($base-red);
  }

  &--yellow {
    @include button($base-yellow);
  }

  &--lg {
    padding: 14px 30px;
    font-size: 1.5rem;
    min-width: 300px;
  }

  &--block {
    width: 100%;
    display: block;
  }

  &:disabled,
  &--disabled {
    background-color: $base-gray;
    opacity: .75;
    user-select: none;
    pointer-events: none;
  }
}
