.cta {
  background-image: url("/img/bg_green.png");
  height: 447px;

  &--no-bg {
    background-image: none;
    height: auto;
    margin-bottom: 60px;
  }

  .container, .row {
    height: 100%;
  }

  &__title {
    width: 75%;
    margin-bottom: 20px;
  }

  &__main {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    width: 50%;
    margin-right: 50px;
  }
}

@media screen and (max-width: $breakpoint--large) {
  .cta__title {
    width: 75%;
  }
}

@media screen and (max-width: $breakpoint--medium) {
  .cta {
    background-size: cover;
    height: 260px;
  }

  .cta__body {
    flex-flow: column;
    align-items: flex-start;
  }

  .cta__title {
    width: 100%;
    margin-bottom: 6px;
  }

  .cta__text {
    width: 100%;
    margin-right: 0;
    margin-bottom: 18px;
  }
}

@media screen and (max-width: $breakpoint--small) {
  .cta {
    margin-bottom: 30px;
    height: 330px;
  }

  /* TODO: Только для --last-section */
  /*.cta__main {
    justify-content: flex-end;
  }*/
}
