.cta {
  background-image: url("/img/bg_green.png");
  height: 447px;

  @include small {
    margin-bottom: 30px;
    height: 330px;
  }

  @include medium {
    background-size: cover;
    height: 260px;
  }

  &--last {
    @include small {
      height: 260px;
    }
  }

  &--last .cta__main {
    @include small {
      justify-content: flex-end;
    }
  }

  &--no-bg {
    background-image: none;
    height: auto;
    margin-bottom: 60px;
  }

  .container, .row {
    height: 100%;
  }

  &__title {
    width: 50%;
    margin-bottom: 20px;

    @include large {
      width: 75%;
    }

    @include medium {
      width: 100%;
      margin-bottom: 6px;
    }
  }

  &__main {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include medium {
      flex-flow: column;
      align-items: flex-start;
    }
  }

  &__text {
    width: 50%;
    margin-right: 50px;

    @include medium {
      width: 100%;
      margin-right: 0;
      margin-bottom: 18px;
    }
  }
}
