.footer {
  padding: 55px 60px;
  color: #FFF;
  background-color: $dark-blue;

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    margin: auto;
    padding: 0 24px;

    @include small {
      flex-flow: column;
      align-items: flex-start;
    }
  }

  &__main {
    width: 50%;

    @include small {
      width: 100%;
    }
  }

  &__menu {
    max-width: 230px;

    @include small {
      max-width: none;
      margin-bottom: 25px;
    }
  }

  &__title {
    letter-spacing: 0.02em;
    padding-bottom: 15px;
    margin-bottom: 13px;
    border-bottom: 1px solid #FFF;

    @include small {
      padding-bottom: 5px;
    }
  }

  &__links {
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    line-height: 28px;
  }

  &__link {
    color: #FFF;
    text-decoration: none;

    &:hover {
      color: #FFF;
    }
  }

  &__icons {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-end;

    @include small {
      margin-top: 10px;
      align-items: flex-start;
    }
  }

  &__socicons {
    @include small {
      margin-bottom: 10px;
    }
  }

  &__socicon {
    width: 44px;
    height: 44px;

    &:not(:last-of-type) {
      margin-right: 18px;
    }
  }

  @include medium {
    padding: 20px 0;
  }
}
