.link {
  color: black;
  font-size: $text-16;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;

  &:focus, &:hover {
    color: inherit;
    outline: none;
  }

  &:hover {
    text-decoration: underline;
  }
}
