.performance-card {
  margin-bottom: 30px;

  &__img {
    position: relative;
    overflow: hidden;
    border-radius: $basic-border-radius;
    margin-bottom: 22px;
    height: 0;
    /* Temporary padding */
    padding-top: 50%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      object-fit: contain;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 15px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 17px;
  }

  &__date {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
}
