.performance-card {
  display: block;
  max-width: 443px;
  margin: 0 auto 30px;
  color: #000;
  text-decoration: none;

  @include medium {
    margin-bottom: 20px;
  }

  &:hover {
    color: inherit;
  }

  &__img {
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-bottom: 22px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 10px;

    @include medium {
      margin-bottom: 5px;
    }
  }

  &__date {
    font-weight: 700;
    font-size: $text-20;
    line-height: 30px;

    @include medium {
      font-size: $text-16;
    }
  }
}
