.section {
  padding-top: 35px;

  &__main {
    margin-top: 25px;
    margin-bottom: 100px;

    @include small {
      margin-top: 0;
      margin-bottom: 160px;
    }
  }

  &__main-title {
    margin-bottom: 15px;

    @include small {
      margin-bottom: 6px;
    }
  }

  &__main-text {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  &__main-img {
    margin: 25px 0 50px 0;

    img {
      width: 100%;
    }
  }

  &__main-button {
    margin-bottom: 50px;
  }
}
