.text {
  font-size: $text-20;
  line-height: 150%;

  &--condensed {
    font-size: $text-18;
    line-height: 140%;
  }

  &--sm {
    font-size: $text-16;
    line-height: 140%;
  }

  &--x-sm {
    font-size: $text-14;
    line-height: 140%;
  }

  &--large {
    font-size: $text-28;
    line-height: 135%;
  }
}

@media screen and (max-width: $breakpoint--medium) {
  .text {
    font-size: $text-16;

    &--condensed {
      font-size: $text-14;
    }

    &--large {
      font-size: $text-16;
    }
  }
}
