.text {
  font-size: $text-20;
  line-height: 150%;

  @include medium {
    font-size: $text-16;
  }

  &--condensed {
    font-size: $text-18;
    line-height: 140%;

    @include medium {
      font-size: $text-14;
    }
  }

  &--sm {
    font-size: $text-16;
    line-height: 140%;
  }

  &--x-sm {
    font-size: $text-14;
    line-height: 140%;
  }

  &--large {
    font-size: $text-28;
    line-height: 135%;

    @include medium {
      font-size: $text-16;
    }
  }
}
