.title {
  font-weight: 800;
  text-transform: none;

  &--1 {
    /* h1 */
    font-size: $text-46;
    line-height: 3.5rem;
  }

  &--2 {
    /* h2 */
    font-size: $text-40;
    line-height: 3rem
  }

  &--3 {
    /* h3 */
    font-size: $text-34;
    line-height: 2.75rem;
  }

  &--4 {
    /* h4 */
    font-size: $text-24;
    line-height: 2.125rem;
  }

  &--5 {
    /* h5 */
    font-size: $text-20;
    line-height: 1.5rem;
  }

  &--underlined {
    text-decoration: underline;
  }
}


@media (max-width: $breakpoint--medium) {
  .title {
    &--1 {
      /* h1 */
      font-size: $text-34;
      line-height: 1.81rem;
    }

    &--2 {
      /* h2 */
      font-size: $text-24;
      line-height: 1.75rem
    }

    &--3 {
      /* h3 */
      font-size: $text-22;
      line-height: 1.21rem;
    }

    &--4 {
      /* h4 */
      font-size: $text-20;
      line-height: 1.75rem;
    }

    &--5 {
      /* h5 */
      font-size: $text-16;
      line-height: 1rem;
    }
  }
}
