@mixin button($background, $text-color: #000) {
  color: $text-color;
  background-color: $background;
  transition: background-color .25s ease-in-out;

  &:hover {
    color: $text-color;
    background-color: lighten($background, 5%);
  }
}
