@mixin button($background, $text-light: false) {
  background-color: $background;
  transition: background-color .25s ease-in-out;

  @if $text-light {
    color: #FFF;
  }

  &:hover {
    background-color: lighten($background, 5%);
  }
}
