.courses {
  padding-bottom: 200px;

  &__description {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: $breakpoint--medium) {
  .courses {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: $breakpoint--small) {
  .courses {
    padding-bottom: 0;
  }
}
