.home {

  &__greeting {
    margin-top: 63px;
    margin-bottom: 120px;

    @include medium {
      margin-top: 31px;
    }
  }

  &__greeting-title {
    margin-bottom: 7px;

    @include medium {
      margin-bottom: 11px;
    }
  }

  &__greeting-text {
    margin-bottom: 31px;

    @include medium {
      margin-bottom: 20px;
    }
  }

  &__performances-title {
    margin-bottom: 30px;
  }

  &__social {
    margin-top: -150px;
    margin-bottom: 100px;
    padding: 200px 0 70px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      background-image: url("/img/bg_yellow_large.png");
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &__social-info {
    margin-right: 72px;

    @include medium {
      margin: 0;
    }
  }

  &__social-info-item {
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }

  &__social-info-img-caption {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__social-feed {
    max-width: 500px;

    img {
      width: 100%;
    }

    &--mobile {
      display: none;

      @include medium {
        display: block;
        margin-bottom: 40px;
      }
    }

    &--non-mobile {
      @include medium {
        display: none;
      }
    }
  }

  &__social-title {
    @include medium {
      margin-bottom: 5px;
    }
  }
}
