.home {

  &__greeting {
    margin-top: 63px;
    margin-bottom: 120px;
  }

  &__greeting-title {
    margin-bottom: 7px;
  }

  &__greeting-text {
    margin-bottom: 31px;
  }

  &__performances {

  }

  &__performances-title {
    margin-bottom: 30px;
  }

  &__social {
    margin-top: -150px;
    margin-bottom: 100px;
    padding: 200px 0 70px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      background-image: url("/img/bg_yellow_large.png");
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &__social-info {
    margin-right: 72px;
  }

  &__social-info-item {
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }

  &__social-info-img-caption {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__social-feed {
    max-width: 500px;

    img {
      width: 100%;
    }

    &--mobile {
      display: none;
    }
  }
}

@media screen and (max-width: $breakpoint--medium) {
  .home__greeting {
    margin-top: 31px;
  }

  .home__greeting-title {
    margin-bottom: 11px;
  }

  .home__greeting-text {
    margin-bottom: 20px;
  }

  .home__social-feed--mobile {
    display: block;
    margin-bottom: 40px;
  }

  .home__social-feed--non-mobile {
    display: none;
  }

  .home__social-info {
    margin: 0;
  }

  .home__social-title {
    margin-bottom: 5px;
  }
}
