<section class="my-5">
  <h1 class="title title--1 text-center">Buttons</h1>
  <button class="button button--blue">Bli medlem!</button>
  <button class="button button--green">Bli medlem!</button>
  <button class="button button--red">Bli medlem!</button>
  <button class="button button--yellow">Bli medlem!</button>
  <button class="button button--yellow button--round">Bli medlem!</button>
  <button class="button button--red button--lg">Button lg</button>
  <button class="button button--disabled">Button disabled</button>
</section>
