<section class="my-5">
  <h1 class="title title--1 text-center">Cards</h1>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="performance-card">
        <img src="https://source.unsplash.com/random/450x285" class="performance-card__img">
        <h3 class="performance-card__title">Tillsamans</h3>
        <p class="performance-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo malesuada vitae malesuada ac enim ume.  Nisi, rutrum vitae facilisi diam duis arcu. Felis, dictum.
        </p>
        <p class="performance-card__date">Premiär 18 mars 2021</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="performance-card">
        <img src="https://source.unsplash.com/random/450x285" class="performance-card__img">
        <h3 class="performance-card__title">Tillsamans</h3>
        <p class="performance-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo malesuada vitae malesuada ac enim ume.  Nisi, rutrum vitae facilisi diam duis arcu. Felis, dictum.
        </p>
        <p class="performance-card__date">Premiär 18 mars 2021</p>
      </div>
    </div>
  </div>
</section>
