<section class="cta">
  <div class="container">
    <div class="row justify-content-center justify-content-sm-start justify-content-md-center">
      <div class="col-12 col-lg-10">
        <div class="cta__main">
          <h2 class="cta__title title title--2">Lägerveckor</h2>
          <div class="cta__body">
            <p class="cta__text text--condensed text-justify">
              Har du barn mellan 9 och 15 år som skulle tycka det var kul att syssla med teater under en vecka i början av sommarlovet 2021? Våra lägerveckor är mycket uppskattade och brukar vara fullsatta i slutet av april. Gör en intresseanmälan enligt nedan, så ser vi till att du får information så fort bokningslänkar finns tillgängliga. Brukar vara i början av året.
            </p>
            <button class="cta__button button button--green button--lg">Läs mer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
