<div class="press-releases">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="press-release__title title title--4">Pressreleaser</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <a href="#" class="press-release__item">
          <h5 class="press-release__item-title title title--5">Klippt & Skuren</h5>
          <p class="text--condensed">Pressrelease 091120</p>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <a href="#" class="press-release__item">
          <h5 class="press-release__item-title title title--5">Klippt & Skuren</h5>
          <p class="text--condensed">Pressrelease 091120</p>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <a href="#" class="press-release__item">
          <h5 class="press-release__item-title title title--5">Klippt & Skuren</h5>
          <p class="text--condensed">Pressrelease 091120</p>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <a href="#" class="press-release__item">
          <h5 class="press-release__item-title title title--5">Klippt & Skuren</h5>
          <p class="text--condensed">Pressrelease 091120</p>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <a href="#" class="press-release__item">
          <h5 class="press-release__item-title title title--5">Klippt & Skuren</h5>
          <p class="text--condensed">Pressrelease 091120</p>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <a href="#" class="press-release__item">
          <h5 class="press-release__item-title title title--5">Klippt & Skuren</h5>
          <p class="text--condensed">Pressrelease 091120</p>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <a href="#" class="press-release__item">
          <h5 class="press-release__item-title title title--5">Klippt & Skuren</h5>
          <p class="text--condensed">Pressrelease 091120</p>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <a href="#" class="press-release__item">
          <h5 class="press-release__item-title title title--5">Klippt & Skuren</h5>
          <p class="text--condensed">Pressrelease 091120</p>
        </a>
      </div>
    </div>
  </div>
</div>
