/**
 * Base colors
 */
$color--black:          #000;
$color--gray:           #404040;
$color--medium-gray:    #818181;
$color--light-gray:     #ececec;
$color--blue:           #3496d9;
$color--light-blue:     #b6e6ef;
$color--white:          #fff;
$color--turquoise:      #00596d;
$color--red-gray:       #b99e9e;
$color--gold:           #ffe7ae;

$base-black:  #000000;
$base-green:  #BBD4CE;
$faded-green: #D3E3E0;
$base-red:    #F9B4AB; // Buttons and active link
$base-yellow: #FDEBD3;
$base-blue:   #3872A3;
$dark-blue:   #264E70;
$base-gray:   #D1D0D0;
$darker-gray:   #2C2C2C;
$dark-gray:   #6C6C6C;
$dark-green: #679186;

/**
 * Typography colors
 */
$color--headings: $color--black;    // Rubriker
$color--text:     $color--gray;     // Text
$color--link:     $color--black;    // Länkar

/**
 * Primary font used for text
 */
$typeface--primary: 'Raleway', sans-serif;

/**
 * Use of fonts
 */
$font--text: $typeface--primary;        // Text

/**
 * Breakpoints
 */
$breakpoint--small:     560px;
$breakpoint--medium:    768px;
$breakpoint--large:     992px;
$breakpoint--giant:     1260px;

/**
 * Misc
 */
$basic-border-radius: 25px;

/**
 * Grid settings
 */
$gutter-width: 3%;
$column-width: (100% - ($gutter-width*12))/12;

/**
 * Font size
 */
$text-10: .625rem;
$text-12: .75rem;
$text-14: .875rem;
$text-16: 1rem;
$text-18: 1.125rem;
$text-20: 1.25rem;
$text-22: 1.375rem;
$text-24: 1.5rem;
$text-28: 1.75rem;
$text-32: 2rem;
$text-34: 2.125rem;
$text-40: 2.5rem;
$text-46: 2.875rem;
